html,body,header,div,h1,nav,ul,li,a,main,figure,img,h2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    width: 100%;
    margin: 17px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 4px 30px -15px rgba(0, 0, 0, 0.1);
}

.menu_logo{
    display: flex;
    align-items: center;
}

.menu_logo h1{
    font-weight: 700;
    font-size: 24px;
}

.menu_logo ul{
    display: flex;
}

.menu_logo li{
    font-size: 16px;
    font-weight: 400;
    color: #585E65;
    margin-left: 46px;
}

.menu_botao{
    justify-content: flex-end;
}

.menu_botao a{
    width: 145px;
    height: 40px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C6EF5;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 4px;
}

.menu_botao a:hover{
    background-color: black;
}

.conteudo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteudo_card{
    display: flex;
    width: 24%;
    flex-wrap: wrap;
    margin-bottom: 34px;
    border: solid 1px transparent;
    justify-content: center;
    margin-left: 10px;
}

.conteudo_card:hover{
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.conteudo_card figure{
    width: 100%;
    height: 170px;
    margin: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.conteudo_card figure.conteudo_card_img01{
    background-image: url(../img/01.png);
}

.conteudo_card figure.conteudo_card_img02{
    background-image: url(../img/02.png);
}

.conteudo_card figure.conteudo_card_img03{
    background-image: url(../img/03.png);
}

.conteudo_card figure.conteudo_card_img04{
    background-image: url(../img/04.png);
}

.conteudo_card figure.conteudo_card_img05{
    background-image: url(../img/05.png);
}

.conteudo_card figure.conteudo_card_img06{
    background-image: url(../img/06.png);
}

.conteudo_card figure.conteudo_card_img07{
    background-image: url(../img/07.png);
}

.conteudo_card figure.conteudo_card_img08{
    background-image: url(../img/08.png);
}

.conteudo_card_descricao{
    margin-left: 21px;
}

.conteudo_card_descricao h2{
    margin-bottom: 20px;
}

.conteudo_card_botao a{
    width: 250px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C6EF5;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 26px;
}

.conteudo_card_botao a:hover{
    background-color: black;
}