html,body,div,header,main,article,form,label,input,button{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

h1{
    font-size: 20px;
    text-align: center;
}

article{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

label{
    font-size: 12px;
    margin-bottom: 5px;
}

.caixa{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
}

input{
    background-color: #E9ECEF;
}

input{
    background-color: #E9ECEF;
    padding-left: 10px;
}

input:hover{
    background-color: #DEE2E6;
}

input:focus{
    border: solid 2px #000000;
}

button{
    color: white;
    background-color: #1971C2;
}

button:hover{
    background-color: #1864AB;
}