html, body, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxMain{
    padding-top: 97px;
    display: flex;
    justify-content: space-between;
}

.boxItem{
    margin: 0 53px;
    width: 275px;
    height: 230px;
    background-color: #E1E1E1;
    border-radius: 8px;
}